doctype html

html
  head
    title Polymer Presentation
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/reveal.js/css/reveal.min.css')
    link(rel='stylesheet', href='/bower_components/reveal.js/css/theme/simple.css', id='theme')
  body
    div(class='reveal')
        div(class='slides')
            section
                h1 
                    | East Bay <br />  Modern Web Developers
                h2 Today's Topic: Polymer
            section
                h2 Agenda
                ul
                    li 7:00 - 7:20 PM: Meet & Greet; Meeting Setup
                    li 7:20 - 8:00 PM: Polymer Presentation
                    li 8:00 - 8:05 PM: Break
                    li 8:05 - 8:55 PM: Hacking / Learning Session
                    li 8:55 - 9:00 PM: Topics for Next Meeting; Meeting Feedback
            section
                h1 Polymer
            section
                h2 What is a Web Component?
                p Let's refer to what the W3C 
                    a(href='http://www.w3.org/TR/components-intro/#introduction', target="_blank") says...
            section
                h2 Web Component Benefits
                ul
                    li You can create encapsulated units of functionality (components).
                    li Applications import these units via "HTML Imports," significantly reducing the amount of code (JS, CSS, HTML) that needs to be referenced / included on a page that uses your component's functionality.
                    li When you change the internals of your component, pages that use your component don't need to be updated unless you modify your component's public API.
                    li Components are extensible.
            section
                h2 What is Polymer?
                ul 
                    li A polyfill library for the HTML5 web component specification (since most browsers don't support HTML5 Web Components yet).
                    li Introduced by Google in May 2013.
            section
                h2 Examples
                p
                    a(href='/simpleelement/', target="_blank") Simple Elements
                p
                    a(href='/gallery/', target="_blank") Gallery
    script(src='/bower_components/reveal.js/js/head.min.js')
    script(src='/bower_components/reveal.js/js/reveal.min.js')
    script.
        Reveal.initialize();