doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Polymer Demonstration
    p Examples
    p
        a(href='/simpleelement/') Simple Elements
    p
        a(href='/photogallery/') Photo Gallery
        